.background__svg1 {
  position: absolute;
  left: 5%;
  top: 10%;
}

.background__svg2 {
  position: absolute;
  bottom: 20%;
  right: 23%;
}

.background__svg1--project {
  z-index: -1;
  top: 120%;
}

.background__svg2--project {
  z-index: -1;
  top: 130%;
  right: 8%;
}

nav {
  font-size: 26px;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 1em;
}

a {
  text-decoration: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__wave {
  width: 78px;
}

.homepage {
  position: absolute;
  /* width: 30%; */
  width: 35em;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

.homepage__introduction {
  font-weight: 600;
  font-size: 78px;
  text-align: left;
  margin-bottom: -30px;
}

.homepage__name {
  font-size: 140px;
}

.homepage__profession {
  margin-top: -40px;
  font-weight: 600;
  font-size: 40px;
  text-align: right;
}

@media screen and (max-width: 1440px) and (max-device-width: 1440px) {
  .background__svg2 {
    right: 15%;
  }
}

@media screen and (max-width: 1024px) and (max-device-width: 1024px) {
  .homepage {
    width: 25em;
  }

  .homepage__introduction {
    font-size: 50px;
  }
  .homepage__name {
    font-size: 100px;
  }
  .homepage__profession {
    font-size: 24px;
  }
  .homepage__wave {
    width: 50px;
  }
  .background__svg2 {
    right: 8%;
  }
}

@media screen and (max-width: 768px) and (max-device-width: 768px) {
  .homepage__introduction {
    font-size: 37px;
  }
  .homepage__name {
    font-size: 80px;
  }
  .homepage__profession {
    font-size: 24px;
  }
  .homepage__wave {
    width: 50px;
  }
  .background__svg2 {
    right: 8%;
  }
}

@media screen and (max-width: 605px) and (max-device-width: 605px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 475px) and (max-device-width: 475px) {
  .homepage {
    width: 20em;
  }

  .background__svg1 {
    display: none;
  }

  .background__svg2 {
    display: none;
  }
}
@media screen and (max-width: 375px) and (max-device-width: 375px) {
  .homepage {
    width: 14em;
  }
  .homepage__introduction {
    font-size: 30px;
  }
  .homepage__name {
    font-size: 60px;
  }
  .homepage__profession {
    font-size: 15px;
  }
  .homepage__wave {
    width: 30px;
  }
}

/* PROJECTS */
.projects__title {
  font-size: 100px;
}

.projects__img {
  z-index: 1;
  width: 60%;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) and (max-device-width: 1024px) {
  .background__svg1--project {
    display: none;
  }

  .background__svg2--project {
    display: none;
  }
}

@media screen and (max-width: 425px) and (max-device-width: 425px) {
  .projects__title {
    font-size: 50px;
    margin: 0;
    margin-top: 1em;
  }
  .project__desc {
    display: none;
  }
  .projects__img {
    display: none;
  }
}
/* PROJECTS */
