header {
  width: 100vw;
  text-align: center;
  /* background-color: blue; */
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 1em;
}

a {
  text-decoration: none;
}

.homepage {
  text-align: center;
}

.homepage__introduction {
  font-weight: 600;
  font-size: 42px;
  text-align: left;
}

.homepage__name {
  font-size: 96px;
}
