@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.background__svg1 {
  position: absolute;
  left: 5%;
  top: 10%;
}

.background__svg2 {
  position: absolute;
  bottom: 20%;
  right: 23%;
}

.background__svg1--project {
  z-index: -1;
  top: 120%;
}

.background__svg2--project {
  z-index: -1;
  top: 130%;
  right: 8%;
}

nav {
  width: 100%;
  z-index: 5;
  background-color: #fff;
  position: fixed;
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 1em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__wave {
  width: 78px;
}

.homepage {
  position: absolute;
  /* width: 30%; */
  width: 35em;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

.homepage__introduction {
  font-weight: 600;
  font-size: 78px;
  text-align: left;
  margin-bottom: -30px;
}

.homepage__name {
  font-size: 140px;
}

.homepage__profession {
  margin-top: -40px;
  font-weight: 600;
  font-size: 40px;
  text-align: right;
}

@media screen and (max-width: 1440px) and (max-device-width: 1440px) {
  .background__svg2 {
    right: 15%;
  }
}

@media screen and (max-width: 1024px) and (max-device-width: 1024px) {
  .homepage {
    width: 25em;
  }

  .homepage__introduction {
    font-size: 50px;
  }
  .homepage__name {
    font-size: 100px;
  }
  .homepage__profession {
    font-size: 24px;
  }
  .homepage__wave {
    width: 50px;
  }
  .background__svg2 {
    right: 8%;
  }
}

@media screen and (max-width: 768px) and (max-device-width: 768px) {
  .homepage__introduction {
    font-size: 37px;
  }
  .homepage__name {
    font-size: 80px;
  }
  .homepage__profession {
    font-size: 24px;
  }
  .homepage__wave {
    width: 50px;
  }
  .background__svg2 {
    right: 8%;
  }
}

@media screen and (max-width: 605px) and (max-device-width: 605px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 475px) and (max-device-width: 475px) {
  .homepage {
    width: 20em;
  }

  .background__svg1 {
    display: none;
  }

  .background__svg2 {
    display: none;
  }
}
@media screen and (max-width: 375px) and (max-device-width: 375px) {
  .homepage {
    width: 14em;
  }
  .homepage__introduction {
    font-size: 30px;
  }
  .homepage__name {
    font-size: 60px;
  }
  .homepage__profession {
    font-size: 15px;
  }
  .homepage__wave {
    width: 30px;
  }
}

/* PROJECTS */
.projects__title {
  font-size: 100px;
}

.projects__img {
  z-index: 1;
  width: 60%;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) and (max-device-width: 1024px) {
  .background__svg1--project {
    display: none;
  }

  .background__svg2--project {
    display: none;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  text-align: center;
}

@media screen and (max-width: 605px) and (max-device-width: 605px) {
  .projects__title {
    font-size: 50px;
    margin: 0;
    margin-top: 1em;
  }
  .project__desc {
    font-size: 16px;
  }
  .projects__img {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-device-width: 768px) {
  .projects__title {
    margin-top: 5em;
    font-size: 40px;
  }
}

@media screen and (max-width: 460px) and (max-device-width: 460px) {
  .projects__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 330px) and (max-device-width: 330px) {
  .projects__title {
    font-size: 28px;
  }
}

/* PROJECTS */

/* SKILLS */
.skills {
  width: 70%;
  margin: 2em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.skill {
  /* width: 70%; */
  margin: 0 1em;
}

.skill__bar {
  background: #0984e3;
  border-radius: 36px;
  height: 0.2rem;
  width: 65%;
}

.skill__level {
  color: #b9b9b9;
  font-size: 14px;
  margin: 0;
}

.skill__name {
  font-weight: bold;
  margin: 0;
  font-size: 12px;
}

.skill__bar--full {
  background: #e9e9e9;
  height: 0.2rem;
  width: 5em;
  border-radius: 36px;
}

@media screen and (max-width: 1013px) and (max-device-width: 1013px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skill__bar--full {
    width: 15em;
  }
}
/* SKILLS */
/* CONTACT ME */
form {
  margin: auto;
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  width: 100%;
  height: 20em;
  text-align: center;
}

input {
  background: #f5f5f5;
  border-radius: 21px;
  border: 2px solid #f5f5f5;
  margin: 0.5em;
  padding: 1em;
  outline: none;
  transition: 0.2s ease-in-out;
}

input[type="text"]:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid #0984e3;
  box-shadow: 0px 0px 10px rgba(9, 132, 227, 0.4);
}

input[type="submit"] {
  border: none;
  background: #0984e3;
  color: #fff;
  font-size: 20px;
  padding: 0.5em 2em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.2s ease-in-out;
  background: #0a71c0;
}

textarea {
  font-family: "Poppins", sans-serif;
  border: 2px solid #f5f5f5;
  outline: none;
  width: 30%;
  height: 15em;
  margin: 0.5em;
  padding: 1em;
  background: #f5f5f5;
  border-radius: 21px;
  resize: none;
  border: none;
  transition: 0.2s ease-in-out;
}

textarea:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid #0984e3;
  box-shadow: 0px 0px 10px rgba(9, 132, 227, 0.4);
}
@media screen and (max-width: 1158px) and (max-device-width: 1158px) {
  input {
    font-size: 13px;
  }
  textarea {
    width: 25em;
  }
}

.getintouch {
  font-size: 64px;
  position: absolute;
  margin-top: 2em;
}

@media screen and (max-width: 481px) and (max-device-width: 481px) {
  .getintouch {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) and (max-device-width: 375px) {
  input[type="text"] {
    font-size: 12px;
    width: 8em;
  }
  textarea {
    width: 20em;
  }
}
/* CONTACT ME */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
}
